/nbproject/private/
/build/
/dist/
/HoRSManagementClient/nbproject/private/
/HoRSManagementClient/dist/
/HoRSManagementClient/build/
/MerlionHot-ejb/nbproject/private/
/MerlionHot-ejb/dist/
/MerlionHot-ejb/build/
/MerlionHotelLibrary/build/
/MerlionHotelLibrary/nbproject/private/
